node-red-dyad-flow.json
[
    {
        "id": "b821a9320b0e9b6c",
        "type": "tab",
        "label": "ESP8266 LDR Auto Manual Threshold",
        "disabled": false,
        "info": "Flow ini menangani komunikasi antara ESP8266 (via Serial) dan Web App (via MQTT), serta logging ke Google Sheets."
    },
    {
        "id": "882dcdc04ef8264a",
        "type": "serial in",
        "z": "b821a9320b0e9b6c",
        "name": "ESP8266 Serial In",
        "serial": "c9d1b2f3a1d0e4b5",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "063299203d7084c0"
            ]
        ]
    },
    {
        "id": "063299203d7084c0",
        "type": "json",
        "z": "b821a9320b0e9b6c",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "b37a4ddea93b7bbd",
                "fbe6f52b3218efaa",
                "ec4a77ef4c87cfc2"
            ]
        ]
    },
    {
        "id": "fbe6f52b3218efaa",
        "type": "function",
        "z": "b821a9320b0e9b6c",
        "name": "Prepare GSheet Log",
        "func": "// === Simpan waktu update terakhir di context ===\nlet lastUpdateTime = context.get(\"lastUpdateTime\") || 0;\n\n// === Ambil waktu sekarang ===\nconst now = new Date();\nconst timestamp = now.getTime();\nconst tanggal = now.toLocaleDateString('id-ID');\nconst jam = now.toLocaleTimeString('id-ID');\n\n// === Ambil data dari payload JSON dari ESP8266 ===\nconst intensitas = Number(msg.payload.intensity || 0);\n\n// === Ambil data dari flow context (agar sinkron dengan dashboard) ===\n// Gunakan nilai dari payload jika ada, jika tidak gunakan flow context\nconst threshold = msg.payload.threshold || flow.get(\"threshold\") || 40;\nconst mode = msg.payload.mode || flow.get(\"mode\") || \"auto\";\nconst ledStatus = msg.payload.led || flow.get(\"status_led\") || \"OFF\";\n\n// === Kirim data setiap 2 detik agar tidak spam ke GSheet ===\nif (timestamp - lastUpdateTime > 2000) {\n    context.set(\"lastUpdateTime\", timestamp);\n\n    // === Format baris data untuk GSheet ===\n    // Kolom A = Tanggal\n    // Kolom B = Jam\n    // Kolom C = Intensitas\n    // Kolom D = Status LED\n    // Kolom E = Threshold\n    // Kolom F = Mode\n    msg.payload = [tanggal, jam, intensitas, ledStatus, threshold, mode];\n\n    return msg;\n} else {\n    // Belum waktunya update\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 220,
        "wires": [
            [
                "a6e792948af0e3cf",
                "6bb16d289d285da3"
            ]
        ]
    },
    {
        "id": "ec4a77ef4c87cfc2",
        "type": "function",
        "z": "b821a9320b0e9b6c",
        "name": "Update Flow Context",
        "func": "// Ambil data dari payload\nconst led = msg.payload.led || \"OFF\";\nconst mode = msg.payload.mode || \"auto\";\nconst intensity = msg.payload.intensity || 0;\nconst threshold = msg.payload.threshold || 40;\n\n// Simpan ke flow context\nflow.set(\"status_led\", led);\nflow.set(\"mode\", mode);\nflow.set(\"threshold\", threshold);\n\nreturn null;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b37a4ddea93b7bbd",
        "type": "mqtt out",
        "z": "b821a9320b0e9b6c",
        "name": "Status to Web (POLINES/FADLI/IL)",
        "topic": "POLINES/FADLI/IL",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90a08a8a9b3870d2",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "abd8ca1adfc6168c",
        "type": "mqtt in",
        "z": "b821a9320b0e9b6c",
        "name": "Commands from Web (POLINES/PADLI/IL)",
        "topic": "POLINES/PADLI/IL",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "90a08a8a9b3870d2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "5f0bb4de795a3022"
            ]
        ]
    },
    {
        "id": "17d9e52094c64336",
        "type": "mqtt in",
        "z": "b821a9320b0e9b6c",
        "name": "Threshold from Web (POLINES/BADLI/IL)",
        "topic": "POLINES/BADLI/IL",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "90a08a8a9b3870d2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 400,
        "wires": [
            [
                "94642b6466394c0e"
            ]
        ]
    },
    {
        "id": "94642b6466394c0e",
        "type": "function",
        "z": "b821a9320b0e9b6c",
        "name": "Process & Echo Threshold",
        "func": "let percentageValue;\nlet deviceValue;\n\n// Payload dari Web App adalah JSON: { \"threshold\": 1023 } (nilai 0-1023)\nif (typeof msg.payload === 'object' && msg.payload !== null && msg.payload.hasOwnProperty('threshold')) {\n    deviceValue = msg.payload.threshold;\n    percentageValue = Math.round((deviceValue / 1023) * 100);\n} else {\n    // Jika ada payload yang tidak terduga, abaikan\n    node.warn(\"Invalid threshold payload received: \" + JSON.stringify(msg.payload));\n    return null;\n}\n\nif (isNaN(percentageValue) || isNaN(deviceValue)) {\n    return null;\n}\n\n// Simpan nilai PERSENTASE ke flow context\nflow.set(\"threshold\", percentageValue);\n\n// Siapkan pesan untuk Output 1 (ke ESP via Serial)\nlet msgForEsp = { payload: { threshold: deviceValue } };\n\n// Siapkan pesan untuk Output 2 (echo ke Web App)\nlet msgForEcho = { payload: { threshold: percentageValue } };\n\n// Kirim kedua pesan ke output masing-masing\nreturn [msgForEsp, msgForEcho];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 400,
        "wires": [
            [
                "5f0bb4de795a3022"
            ],
            [
                "a1b2c3d4e5f6g7h8"
            ]
        ]
    },
    {
        "id": "5f0bb4de795a3022",
        "type": "serial out",
        "z": "b821a9320b0e9b6c",
        "name": "ESP8266 Serial Out",
        "serial": "c9d1b2f3a1d0e4b5",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "a1b2c3d4e5f6g7h8",
        "type": "mqtt out",
        "z": "b821a9320b0e9b6c",
        "name": "Echo Threshold to Web (POLINES/BADLI/IL/ECHO)",
        "topic": "POLINES/BADLI/IL/ECHO",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "90a08a8a9b3870d2",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "a6e792948af0e3cf",
        "type": "GSheet",
        "z": "b821a9320b0e9b6c",
        "creds": "901cb065573abe4a",
        "method": "append",
        "action": "",
        "sheet": "1_X1fLaY5T9VaanalOvdoURKQLKmNDAnQahejmbmkJUM",
        "cells": "Sheet1!A2:F15",
        "flatten": false,
        "name": "Log 15 Data Terakhir",
        "x": 980,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6bb16d289d285da3",
        "type": "GSheet",
        "z": "b821a9320b0e9b6c",
        "creds": "901cb065573abe4a",
        "method": "append",
        "action": "",
        "sheet": "1_X1fLaY5T9VaanalOvdoURKQLKmNDAnQahejmbmkJUM",
        "cells": "Sheet2!A2:F300",
        "flatten": false,
        "name": "Log Jangka Panjang",
        "x": 980,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c9d1b2f3a1d0e4b5",
        "type": "serial-port",
        "name": "",
        "serialport": "COM12",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "901cb065573abe4a",
        "type": "gauth",
        "name": "fadli-722@fadlihome.iam.gserviceaccount.com"
    },
    {
        "id": "90a08a8a9b3870d2",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com:1883",
        "broker": "broker.hivemq.com:1883",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]