node-red-flow-updated.json
[
    {
        "id": "269287e36998d1ca",
        "type": "tab",
        "label": "Dashboard Kendali Modern",
        "disabled": false,
        "info": "Dashboard lengkap untuk memonitor dan mengontrol sistem lampu teras dan kamar secara real-time."
    },
    {
        "id": "5fc7ab37afee5a29",
        "type": "mqtt in",
        "z": "269287e36998d1ca",
        "name": "Status dari ESP8266",
        "topic": "POLINES/FADLI/IL",
        "qos": "2",
        "datatype": "json",
        "broker": "mqtt-broker-config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "d1ac4ae8c42738e5"
            ]
        ]
    },
    {
        "id": "d1ac4ae8c42738e5",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Pisah & Simpan Data",
        "func": "// Simpan semua data ke flow context agar state tidak hilang\nflow.set('latestStatus', msg.payload);\n\n// Siapkan pesan untuk setiap output\nlet intensityMsg = { payload: msg.payload.intensity };\nlet chartMsg = { payload: msg.payload.intensity };\nlet statusTerasMsg = { payload: msg.payload.led === 'ON' ? 'NYALA' : 'MATI' };\nlet statusKamar1Msg = { payload: msg.payload.lamp1_status ? 'NYALA' : 'MATI' };\nlet statusKamar2Msg = { payload: msg.payload.lamp2_status ? 'NYALA' : 'MATI' };\nlet modeMsg = { payload: msg.payload.mode ? msg.payload.mode.toUpperCase() : 'N/A' };\n\n// Kirim ke masing-masing UI node\nreturn [intensityMsg, chartMsg, statusTerasMsg, statusKamar1Msg, statusKamar2Msg, modeMsg];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "2fa0d500223c4725"
            ],
            [
                "363d27059c27e05b"
            ],
            [
                "e9328806a1e067e2"
            ],
            [
                "e6dbc277304422d1"
            ],
            [
                "710ca0c16335fa56"
            ],
            [
                "f6d60c8d8aa4edb0"
            ]
        ]
    },
    {
        "id": "2fa0d500223c4725",
        "type": "ui_gauge",
        "z": "269287e36998d1ca",
        "name": "Intensitas Cahaya",
        "group": "group-status",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Intensitas Cahaya",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#ffc400",
            "#00ff00"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "363d27059c27e05b",
        "type": "ui_chart",
        "z": "269287e36998d1ca",
        "name": "Grafik Intensitas",
        "group": "group-grafik",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Grafik Intensitas (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e9328806a1e067e2",
        "type": "ui_text",
        "z": "269287e36998d1ca",
        "group": "group-status",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lampu Teras",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "e6dbc277304422d1",
        "type": "ui_text",
        "z": "269287e36998d1ca",
        "group": "group-status",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lampu Kamar 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "710ca0c16335fa56",
        "type": "ui_text",
        "z": "269287e36998d1ca",
        "group": "group-status",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lampu Kamar 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "f6d60c8d8aa4edb0",
        "type": "ui_text",
        "z": "269287e36998d1ca",
        "group": "group-status",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mode Teras",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "5f4357e338f82a0d",
        "type": "ui_switch",
        "z": "269287e36998d1ca",
        "name": "Lampu Teras",
        "label": "Lampu Teras (Manual)",
        "tooltip": "",
        "group": "group-kontrol",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "lampuTeras",
        "topicType": "str",
        "style": "",
        "onvalue": "toggle",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "toggle",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "8e057cfb58b09cda",
                "17f83f659db0bc50"
            ]
        ]
    },
    {
        "id": "8e057cfb58b09cda",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Format: {led: 'toggle'}",
        "func": "msg.payload = { led: 'toggle' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "2bdedea20ead0631"
            ]
        ]
    },
    {
        "id": "2bdedea20ead0631",
        "type": "mqtt out",
        "z": "269287e36998d1ca",
        "name": "Ke ESP (POLINES/PADLI/IL)",
        "topic": "POLINES/PADLI/IL",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "380158df8d237179",
        "type": "ui_switch",
        "z": "269287e36998d1ca",
        "name": "Lampu Kamar 1",
        "label": "Lampu Kamar 1",
        "tooltip": "",
        "group": "group-kontrol",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "lampuKamar1",
        "topicType": "str",
        "style": "",
        "onvalue": "toggle",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "toggle",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "1fdc1ef09361a7ea",
                "233cca59d4f827b3"
            ]
        ]
    },
    {
        "id": "1fdc1ef09361a7ea",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Format: {toggle_lamp1: true}",
        "func": "msg.payload = { toggle_lamp1: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 420,
        "wires": [
            [
                "3890490f47df871f"
            ]
        ]
    },
    {
        "id": "3890490f47df871f",
        "type": "mqtt out",
        "z": "269287e36998d1ca",
        "name": "Ke ESP (POLINES/LAMPU_RUANG/COMMAND)",
        "topic": "POLINES/LAMPU_RUANG/COMMAND",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 720,
        "y": 450,
        "wires": []
    },
    {
        "id": "565ea24b2900fa90",
        "type": "ui_switch",
        "z": "269287e36998d1ca",
        "name": "Lampu Kamar 2",
        "label": "Lampu Kamar 2",
        "tooltip": "",
        "group": "group-kontrol",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "lampuKamar2",
        "topicType": "str",
        "style": "",
        "onvalue": "toggle",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "toggle",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "fec41db590c71549",
                "05a54b198ff395bb"
            ]
        ]
    },
    {
        "id": "fec41db590c71549",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Format: {toggle_lamp2: true}",
        "func": "msg.payload = { toggle_lamp2: true };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 480,
        "wires": [
            [
                "3890490f47df871f"
            ]
        ]
    },
    {
        "id": "c6bd7c7e70364a74",
        "type": "ui_button",
        "z": "269287e36998d1ca",
        "name": "Mode Auto",
        "group": "group-kontrol",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Auto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "auto",
        "payloadType": "str",
        "topic": "mode",
        "topicType": "str",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "7eb8b3e8657a3e3d",
                "af20aef17941c0c7"
            ]
        ]
    },
    {
        "id": "14257541c6b0d759",
        "type": "ui_button",
        "z": "269287e36998d1ca",
        "name": "Mode Manual",
        "group": "group-kontrol",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "manual",
        "payloadType": "str",
        "topic": "mode",
        "topicType": "str",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "7eb8b3e8657a3e3d",
                "ceaaaa2e2643c3c3"
            ]
        ]
    },
    {
        "id": "7eb8b3e8657a3e3d",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Format: {mode: '...'}",
        "func": "msg.payload = { mode: msg.payload };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 590,
        "wires": [
            [
                "2bdedea20ead0631"
            ]
        ]
    },
    {
        "id": "25c76783f48ff7b1",
        "type": "ui_slider",
        "z": "269287e36998d1ca",
        "name": "Threshold LDR",
        "label": "Ambang Batas LDR (%)",
        "tooltip": "",
        "group": "group-kontrol",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "threshold",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "d4e43b5c6c51f642",
                "5be76763c13e8a74"
            ]
        ]
    },
    {
        "id": "d4e43b5c6c51f642",
        "type": "delay",
        "z": "269287e36998d1ca",
        "name": "Debounce 400ms",
        "pauseType": "rate",
        "timeout": "400",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 700,
        "wires": [
            [
                "6934b1384d24d958"
            ]
        ]
    },
    {
        "id": "6934b1384d24d958",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Format: {threshold: 0-1023}",
        "func": "// Konversi persentase (0-100) ke nilai ADC (0-1023)\nconst deviceValue = Math.round((msg.payload / 100) * 1023);\nmsg.payload = { threshold: deviceValue };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 700,
        "wires": [
            [
                "61ac871ca075dab4"
            ]
        ]
    },
    {
        "id": "61ac871ca075dab4",
        "type": "mqtt out",
        "z": "269287e36998d1ca",
        "name": "Ke ESP (POLINES/BADLI/IL)",
        "topic": "POLINES/BADLI/IL",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-config",
        "x": 870,
        "y": 700,
        "wires": []
    },
    {
        "id": "17f83f659db0bc50",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Log: Teras Manual",
        "func": "msg.payload = \"Lampu Teras di-toggle (Manual)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "dcb10193e7f838fb"
            ]
        ]
    },
    {
        "id": "dcb10193e7f838fb",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Buat Entri Log",
        "func": "// Ambil history yang ada, atau buat array baru jika belum ada\nlet history = flow.get('activityLog') || [];\n\n// Buat timestamp\nconst now = new Date();\nconst timestamp = now.toLocaleTimeString('id-ID');\n\n// Buat entri baru\nconst newEntry = {\n    time: timestamp,\n    message: msg.payload\n};\n\n// Tambahkan entri baru ke awal array\nhistory.unshift(newEntry);\n\n// Batasi jumlah log menjadi 50 entri\nif (history.length > 50) {\n    history.pop();\n}\n\n// Simpan kembali ke flow context\nflow.set('activityLog', history);\n\n// Kirim array history ke UI\nmsg.payload = history;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 820,
        "wires": [
            [
                "eaf06534a3fb4ee0"
            ]
        ]
    },
    {
        "id": "eaf06534a3fb4ee0",
        "type": "ui_template",
        "z": "269287e36998d1ca",
        "group": "group-log",
        "name": "Tabel Riwayat",
        "order": 1,
        "width": "12",
        "height": "8",
        "format": "<style>\n    .log-table {\n        width: 100%;\n        border-collapse: collapse;\n    }\n    .log-table th, .log-table td {\n        padding: 8px;\n        text-align: left;\n        border-bottom: 1px solid #444;\n    }\n    .log-table th {\n        font-weight: bold;\n    }\n    .log-time {\n        font-family: monospace;\n        color: #aaa;\n        min-width: 80px;\n    }\n</style>\n\n<table class=\"log-table\">\n    <thead>\n        <tr>\n            <th>Waktu</th>\n            <th>Aktivitas</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"entry in msg.payload\">\n            <td class=\"log-time\">{{entry.time}}</td>\n            <td>{{entry.message}}</td>\n        </tr>\n    </tbody>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 840,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "233cca59d4f827b3",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Log: Kamar 1 Manual",
        "func": "msg.payload = \"Lampu Kamar 1 di-toggle (Manual)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "dcb10193e7f838fb"
            ]
        ]
    },
    {
        "id": "05a54b198ff395bb",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Log: Kamar 2 Manual",
        "func": "msg.payload = \"Lampu Kamar 2 di-toggle (Manual)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            [
                "dcb10193e7f838fb"
            ]
        ]
    },
    {
        "id": "af20aef17941c0c7",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Log: Mode Auto",
        "func": "msg.payload = \"Mode diubah ke AUTO\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 550,
        "wires": [
            [
                "dcb10193e7f838fb"
            ]
        ]
    },
    {
        "id": "ceaaaa2e2643c3c3",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Log: Mode Manual",
        "func": "msg.payload = \"Mode diubah ke MANUAL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 630,
        "wires": [
            [
                "dcb10193e7f838fb"
            ]
        ]
    },
    {
        "id": "5be76763c13e8a74",
        "type": "function",
        "z": "269287e36998d1ca",
        "name": "Log: Threshold",
        "func": "msg.payload = `Ambang batas LDR diatur ke ${msg.payload}%`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 740,
        "wires": [
            [
                "dcb10193e7f838fb"
            ]
        ]
    },
    {
        "id": "mqtt-broker-config",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "group-status",
        "type": "ui_group",
        "name": "Status & Monitoring",
        "tab": "tab-dashboard",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group-grafik",
        "type": "ui_group",
        "name": "Grafik Intensitas Cahaya",
        "tab": "tab-dashboard",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "group-kontrol",
        "type": "ui_group",
        "name": "Panel Kontrol",
        "tab": "tab-dashboard",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group-log",
        "type": "ui_group",
        "name": "Riwayat Aktivitas",
        "tab": "tab-dashboard",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "tab-dashboard",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a1cfeff03864f219",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]